body {
    background-color: #f3f6f9;

}
a {
    color: #575E63;
}

.btn-info {
    background-color: #444B52;
    border: 1px solid #444B52;
}

.btn-primary {
    background-color: #C4C8CC;
    border: 1px solid #C4C8CC;
}

.button-rss-procuct {
    margin-top: 10px;
    padding: 8pt;
}

.navbar-rss {
    margin-top: 5pt;
    background-color: #ffffff;
}

.navbar-rss li a {
    padding-top: 35px;
    height: 100px;
}

.navbar-rss li a:hover {
    background-color: #eeeeee !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #33383D !important;
    color: #ffffff;
}

.topbar-rss {
    background-color: #1F2326;
    padding: 5pt;
}

.topbar-text-rss {
    font-size: 8pt;
    color: #96999b;
}

.topinfo-rss {
    padding: 10pt;
    border: 1px solid #e1e1e8;
    border-bottom: none;
    background-color: #ffffff;
}

.topinfo-rss span {
    color: #303437;
    font-size: 30px;
}

.carousel-rss {
    padding: 0px 15px 0px;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #cdbfe3;
    background-image: url("../images/rss_carousel_bg.jpg");
}

.carousel-indicators {
    width: auto;
    position: inherit;
}

.topbanner-rss {
    padding: 15px 15px 15px;
    font-size: 28px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    background-image: url("../images/rss_carousel_bg.jpg");
}


.breadcrumb-rss {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.breadcrumb-rss li {
    font-size: 10pt;
}

.footer-rss {
    background-color: #F5F9FC;
    padding: 20px;
    /*height: 10px;*/
}

.footer-rss p {
    font-size: 12px;
    color: #B1B5B8;
}

.thumbnail2 {
    background-image: url('../images/thumbnail_bg.jpg');
    background-position: bottom right;
    background-repeat: repeat-x;
    background-color: #F7F8FA;
    height: 90px;
    padding: 10px;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}


.thumbnail2 img {
    border-bottom:2px solid #D9D9D9; border-top: 1px solid #D9D9D9; border-left:  1px solid #D9D9D9; border-right: 2px solid #D9D9D9;
}

.thumbnail2 p {
    color: #c2c2c2;
}



@font-face { font-family: rss-gothic; src: url('../fonts/1532.ttf'); }

@font-face { font-family: rss-roboto-italic; src: url('../fonts/RobotoCondensed-Italic.ttf'); }
